/* write something something */

#beginScherm{
    background-color: chartreuse;
    border: 1px solid black;
}
#Header{
    background-color: red;
    border: 1px solid black;
    height: 150px;
    width: 1687px;
}
#StartScreen{
    background-color: blue;
    border: 1px solid black;
    height: 655px;
    width: 1000px;
    margin-top: 10px;
}
#playerCount{
    background-color: black;
    border: 1px solid black;
    height: 75px;
    width: 150px;
}
#QuizCreationScreen{
    background-color: yellow;
    border: 1px solid black;
    height: 120px;
    width: 200px;
}
#QuizQuestionCreationScreen{
    background-color: olivedrab;
    border: 1px solid black;
    height: 150px;
    width: 250px;
}